/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

svg{
  width: 100px;
  height: 100px;
}

.sc-fqkvVR.kFhUBM{
  font-size: 2rem;
}
span .file-types{
  font-size: 2rem;

}

.sc-aXZVg.guZdik  {
  min-height: 200px;
  min-width: 560px;
}

.text-area{
  width: 508px;
}